  *{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif !important;
  }
  body::-webkit-scrollbar{
    display: none;
  }
  :root
  {
    --ash : #666;
    --yellow : #ffc915;
  }
  a{
    color: var(--ash) !important;
    font-size: 12px;
    text-decoration: none !important;
  }
  a:hover
  {
    color: var(--yellow) !important;
  }
  span
  {
    padding: 0px 15px;
    font-size: 12px;
  }
  .cont-extra-padd{
    padding: 0 65px !important;
  }
  .top-header
  {
    padding-bottom: 1rem;
  }
  .log-order-cart{
    float: right;
  }
  nav {
    text-align:center;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 40px;
    position:relative;
    z-index: 1;
  }
  ul{
    list-style:none;
    margin: 0 !important;
    padding: 0 !important;
  }
  ul li {
    display: inline-block;
   
  }  
  nav ul li a {
    color:#333333;
    display:block;
    padding:0px 20px;
    font-size: 13px;
    color: black !important;
    height: 40px;
    font-weight: 500;
  }
  nav ul li:hover {
    color: #333333;
  }
  nav ul li:hover > a{
      color:#d9ff00;
  }
  
  nav ul li:hover > ul {
    display:block;
  }
  nav ul ul {
    padding:0;
    text-align: center;
    display:none;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0px;
  }
  .search img{
    float: right;
  }
  
  /* head ends */


#carouselExampleCaptions button:hover{
  background-color: hsl(0, 0%, 0%, 0.5) !important;
}
.carousel-item{
  background-color: black;
}
.carousel-item img{
  width: 100%;
}
.carousel-indicators button{
  width: 8px !important;
  height: 8px !important;
  border-radius: 50%;
  margin: 0 10px !important;
}
.banner{
  padding: 50px 0;
}
/* carousal ends */

.common-prod{
  width: calc(100% / 7);
  padding: 25px;
}


/* common-products-ends */

.comm-rec{
  width: calc(100% / 3);
  padding: 15px 35px;
  text-align: center;
}


/* super-rec ends */

.hover-up{
  position: relative;
}
.hover-up:hover{
  top: -2px;
  transition: all .3s;
  
}
.mobile-full-add img{
  border-radius: 20px;
}


/* mobile add ends */

.card{
  border: none !important;
  padding: 25px;
}
.first-big{
  width: 500px;
}
.card-text
{
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}

.hot-phones-child:first-child {
  width: calc(100% / 3);
}
.hot-phones-child:not(:first-child) {
  width: calc(100% / 5);
}

/* hottest phones ends */

.payments-warranty h5
{
  padding-top: 15px;
  font-size: 15px;
}
.payments-warranty p
{
  font-size: 13px;
}




footer h6{
  font-size: 14px;
  font-weight: bold;
}
.footer ul{
  padding: 10px 0 30px 0 !important;
}

.footer li{
  display: block;
  
}
footer a{
  color: black !important;
}
.chat-support{
  text-align: center;
}
.chat-support span{
  padding: 0 5px;
  font-size: 15px;
  font-weight: bold;
}
.chat-support button{
  border: 1px solid black;
  display: block;
  margin: 0 auto;
  border-radius: 30px;
  padding: 8px 17px;
  background-color: transparent;
}
.chat-support p{
  font-size: 13px;
  padding-top: 8px;
  margin-bottom: 5px;
}
.chat-support b{
  font-size: 18px;
}
.chat-support ul{
  margin-top: 25px !important;
}
.chat-support li{
  width: 25px;
  height: 25px;
  margin: 8px;
}
hr{
  margin: 0px 15px;
}
.copy-right{
  font-size: 12px;
  padding-bottom: 15px;
}
.copy-right-policy{
  float: right;
}

/* footer ends */



@media (max-width: 370px){
  .hot-phones-child:first-child {
    width: calc(100%);
  }
  .hot-phones-child:not(:first-child) {
    width: calc(100%);
  }
  .cont-extra-padd{
    padding: 0 10px !important;
  }
  .common-prod{
    width: calc(100% / 4);
    padding: 0px;
  }
  .comm-rec{
    width: calc(100%);
    padding: 50px;
  }
}

@media (min-width: 370px) and (max-width: 767px) {
  .cont-extra-padd{
    padding: 0 10px !important;
  }
  .copy-right{
    text-align: center;
  }
  .copy-right-policy{
    float: none;
  }
  span{
    padding: 0 10px;
  }
  .hot-phones-child:first-child {
    width: calc(100%);
  }
  .hot-phones-child:not(:first-child) {
    width: calc(100% / 2);
  }
  .common-prod{
    width: calc(100% / 7);
    padding: 0px;
  }
  .comm-rec{
    width: calc(100% / 3);
    padding: 15px;
  }
}
@media (min-width: 767px) and (max-width: 991px) {
  .cont-extra-padd{
    padding: 0 10px !important;
  }
  .hot-phones-child:first-child {
    width: calc(100% / 2);
  }
  .hot-phones-child:not(:first-child) {
    width: calc(100% / 4);
  }
}
@media (min-width: 991px) and (max-width: 1200px) {
  .cont-extra-padd{
    padding: 0 10px !important;
  }
  .hot-phones-child:first-child {
    width: calc(100% / 2);
  }
  .hot-phones-child:not(:first-child) {
    width: calc(100% / 5);
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  .chat-support li {
    margin: 0px;
  }
  
  .hot-phones-child:first-child {
    width: calc(100% / 3);
  }
  .hot-phones-child:not(:first-child) {
    width: calc(100% / 6);
  }
}